.variants {
    list-style: none;
    display: flex;
}

.variant {
    padding: 15px 35px 10px 35px;
    color: rgba(113, 128, 150, 1);
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    border-radius: 40px 40px 0px 0px;
}

.variant.active {
    color: white;
    background-color: rgba(11, 104, 254, 1);
}

.searchWrapper {
    width: 100%;
    padding: 15px;
    background-color: rgba(11, 104, 254, 1);
    border-radius: 0px 90px 90px 40px;
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
}

.searchInput {
    box-sizing: border-box;
    font-size: 34px;
    width: 100%;
    padding: 16px 30px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: rgba(54, 65, 83, 1);
    font-family: "Golos", sans-serif;
}

.searchInput::placeholder {
    color: rgba(113, 128, 150, 1);
    font-family: "Golos", sans-serif;
}

.btnWrapper {
    flex-basis: 200px;
    flex-shrink: 0;
}

.searchCriteria {
    padding: 39px 25px 25px 25px;
    background-color: rgba(250, 250, 250, 1);
}

.name {
    color: rgba(11, 104, 254, 1);
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 39.5px;
}

.criteriasInput {
    width: 100%;
    border-radius: 20px;
    border: 2px solid rgba(217, 223, 231, 1);
    padding: 30px 30px 8px 30px;
    font-size: 24px;
    box-sizing: border-box;
    color: rgba(54, 65, 83, 1);
    height: 79px;
}

.criteriasInputWrapper {
    position: relative;
}

.placeholder {
    position: absolute;
    top: 10px;
    left: 30px;
    color: rgba(113, 128, 150, 1);
    font-family: "Golos", sans-serif;
    font-size: 20px;
    user-select: none;
    pointer-events: none;
}

.line1, .line2, .line3, .line4 {
    margin-bottom: 25px;
}

.line2, .line3, .line4 {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 40px;
}

.information {
    cursor: pointer;
    user-select: none;
}

.clearAreas {
    margin-top: 25px;
}

.clearAreasBtn {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    color: rgba(11, 104, 254, 1);
    background-color: rgba(231, 240, 255, 0.5);
    border-radius: 55px;
    padding: 20px 109px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.clearAreasBtn:hover {
    background-color: rgba(231, 240, 255, 0.8);
}

.line1 {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 30px;
}

.datePicker {
    width: 370px;
}